.form-group, .form-group-submit {
    margin: 20px auto;
    display: flex;
    width: 90%;
}
  
.form-control { 
    -webkit-user-select: text;
    height: 40px;
    background: #f2f2f2;
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-control:disabled {
    cursor: not-allowed;
}

.form-group-submit {
    width: 90%;
}

.form-group-submit > * {
    margin-right: 20px;
}

.form-group > textarea{
    background: white;
}

.submitButton {
    padding: 12px 24px;
    margin: auto;
    width: 100%;
    background-color: rgba(32, 35, 42, 1);
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}
